@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TeleNeo';
  src: url('./assets/fonts/TeleNeoWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeleNeo';
  src: url('./assets/fonts/TeleNeoWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TeleNeo';
  src: url('./assets/fonts/TeleNeoWeb-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TeleNeo';
  src: url('./assets/fonts/TeleNeoWeb-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: 'TeleNeo', sans-serif;
  background-color: rgba(226, 213, 213, 0.096);
  color:#383838;
  padding:1rem;
  
}

.telekom-color {
  color: #e20074;
}

.telekom-font {
  font-family: 'TeleNeo', sans-serif;
}

.telekom-bg, .today {
  background-color: #e20074!important;
  color: white !important;
}

.telekom-title {
  color:#e20074 ;
  font-size: 2rem;
  font-weight: bold;
}

.background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
  width: 100%;
}

.cardText{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.7);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
font-weight: 600;
}

.nav{
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.nav a:hover , .profile-modal a:hover , .nav svg:hover{
  color: #e20074;
  cursor: pointer;
}

.profile-modal{
  color:white;
  background-color: rgba(15, 14, 14, 0.733);
  
}

 .calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  max-width: 600px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  .day, .date {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .day {
    background: #333;
    color: white;
  }

  .date {
    position: relative;
    background: #ddd;
    color: black;
    height: 50px;
    border-radius: 5px;
  }

  .empty {
    background: transparent;
  }

  .event{
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
